<!DOCTYPE html>
<html>
    <head>
        <title>HIGHWAY START</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet" />     
    </head>

    <body>
        <div class="container">
            
            <div class="left-pane">
                <div class="control">
                    <form>Filter Images <br>
                        <input type="text" name="Image Title"> <br>
                        <input type="text" name="Country"> <br>
                        <input type="text" name="City"> <br>
                        <input type="submit" value="Apply Filter"> <br>
                    </form>
                </div>

                <div class="footer">
                    <p>Created by: ht-90</p>
                    <p>Date: 29/12/2019</p>
                </div>
            </div>
            
            <div class="content">
                <img src="../static/img/sample_1.PNG" alt=="M7 Brisbane, Australia" />
            </div>
            
        </div>
    </body>

</html>